<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div style="width:20%;float: left;">
        <!-- <input type="file" name="pic" accept="image/*"> -->
        <ul>
            <li><a>Add Drug</a></li>
            <li><a>Inventory</a></li>
            <li><a>Transfer</a></li>
            <li><a>Transactions</a></li>
            <li>
                <button>Nodes <ion-icon name="arrow-dropdown"></ion-icon></button>
                <ul>
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                </ul> 
            </li>
        </ul>    
    </div>
    <div style="float: left;">
        <p>ID:</p>
        <p>Drug Name:</p>
        <p>Date of Manufacture:</p>
        <p>Date of Expiry:</p>
    </div>
    <div style="float: right;">
        <img src="" alt="">
    </div>
</body>
</html>